
@{
    ViewBag.Title= "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>If you have an account with us, We have sent email with the instructions to reset your password </h3>

