.dropdown.manage > .dropdown-toggle {
    background-color: #343a40;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 7px;
}

html, body {
    margin: 0;
    padding: 0;
}

#delete {
    float: left;
    margin: 0px 0px 0 6px;
}

#edit {
    float: left;
    margin: 0px 8px 0 9px;
}

#view {
    float: left;
    margin: 0px 8px 0 51px;
}
